body {
    padding-top: 5rem;
}

.container{
    height:750px;

}

.sep{
    height:100px;
    width:400px;
    padding:1em;
    margin:0.5em;
}

.dep{
    height:100px;
    width:720px;
    padding:1em;
    margin:0.5em;
    margin-top:0em;
    margin-bottom: 1.5em;
}

#require{
    color:red;
    font-weight: bold;
}

button{
    background-color:rgb(41,135,205);
    padding: 6px 40px;
    border-radius:6px;
    color:white;
    font-weight:600;
    border:none;
    margin-top: 2em;
}

#test{
    margin:1em;
}

.flashes{
    padding: 20px;
}

.message{
    color:red;
    font-weight: bolder;
    font-size:x-large;
}

#title{
    margin-bottom:8px;
    font-weight:600;
}

#top{
    border: 1px solid black;
    opacity:1;
}

.formstyle{
    border-radius: 6px;
    border-style:solid;
    border-color:rgb(230, 227, 227);
}




